* {
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: odin;
    src: url("font/Norse-Bold.otf");
}

body {
    margin: 0;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo-section {
    width: 40vw;
    height: 100%;
    text-align: center;
}

.logo-back-img {
    width: 100%;
    height: 100%;
}

.absolute-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 22%;
    width: inherit;
}

.logo-img {
    width: 85px;
    margin: 10px 0px;
}

.logo-text {
    margin: 0;
    color: white;
    font-family: odin;
    font-size: 5rem;
}

.div-credit {
    position: absolute;
    width: inherit;
    top: 98%;
}

.img-credit {
    margin: 0;
    color: white;
}

.img-credit a:link {
    color: white;
}

.img-credit a:visited {
    color: yellowgreen;
}

.form-section {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: lightgray;
}

.top-section, 
.bottom-section {
    height: 35vh;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /*Manda el contenido a la parte baja del div*/
}

.top-section > p {
    font-size: 1.3rem;
    font-weight: bold;
}

p[class="para-one"] {
    margin: 0vw 4vw 3vw 3vw;
}

p[class="para-two"] {
    margin: 0vw 4vw 4vw 3vw;
}

.middle-section {
    background: white;
    height: 30vh;
}

.data-input {
    display: flex;
}